* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.login-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

h2 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e3a8a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5%;
}

button:hover {
    background-color: #2563eb;
}

.container {
    overflow-x: auto; /* Menambahkan scroll horizontal jika diperlukan */
    width: 100%; /* Memastikan container mengambil lebar penuh */
    justify-content: center; /* Menjaga konten di tengah secara horizontal */
    align-items: center; /* Menjaga konten di tengah secara vertikal */
}

.detail-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 20px;
}

.box {
    background-color: #f0f9ff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
    border-collapse: collapse;
}

th {
    text-align: left; /* Menyelaraskan header tabel ke kiri */
    font-weight: 600;
    padding: 10px;
    color: #1e3a8a;
    font-size: 18px; /* Ukuran font untuk header */
}


td {
    padding: 10px 10px 10px 20px; /* Menambahkan padding kiri */
    color: #333;
    text-align: left; /* Menyelaraskan data tabel ke kiri */
    word-wrap: break-word; /* Membungkus teks */
    max-width: 200px; /* Batasi lebar maksimum sel */
    font-size: 16px; /* Ukuran font untuk data */
    white-space: normal; /* Membuat teks membungkus ke baris berikutnya */
    overflow: hidden; /* Menyembunyikan bagian teks yang tidak muat */
    text-overflow: ellipsis; /* Menambahkan titik-titik (...) jika teks terlalu panjang */
}

tr {
    border-bottom: 1px solid #ddd;
}
